.hbox {
  -fx-padding: 4px;
  -fx-spacing: 8px;
}

.buttonBar {
  -fx-background-color: #ffffff;
  -fx-padding: 6px;
  -fx-spacing: 16px;
  -fx-border-radius: 5px;
}

.button,
.label,
.text-field {
  -fx-min-height: 28px;
  -fx-max-height: 28px;
}

.button {
  -fx-background-color: transparent;
  -fx-cursor: hand;
  -fx-min-width: 24px;
  -fx-max-width: 24px;
}

.label {
  -fx-font-size: 14px;
  -fx-text-fill: #333333;
}

.search {
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.text-field {
  -fx-background-color: transparent;
  -fx-min-width: 200px;
  -fx-max-width: 200px;
  -fx-border-width: 0;
}

.text-field:focused {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.table-view {
  -fx-background-color: #ffffff;
  -fx-control-inner-background: #ffffff;
  -fx-background-insets: 0;
  -fx-border-width: 0;
}

.table-view .table-cell {
  -fx-padding: 8px;
  -fx-border-width: 0px;
}

.table-row-cell:selected {
  -fx-background-color: rgb(0, 150, 201);
  -fx-text-fill: #ffffff;
}

.table-row-cell {
  -fx-background-color: #ffffff;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
  -fx-background-color: #ffffff;
}

.check-box .box {
  -fx-background-color: #ffffff;
  -fx-border-color: grey;
  -fx-border-radius: 3px;
}

.check-box:selected .mark {
  -fx-background-color: #ffffff;
}

.check-box:selected .box {
  -fx-background-color: #28a3f4;
}
